.projects {
  padding: 6rem 64px;
  background-color: transparent;
}

.title {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .projects {
    padding: 4rem 24px;
  }
} 